parameters:

services:
    ez_core_extra.view_template_listener:
        class: Lolautruche\EzCoreExtraBundle\EventListener\ViewTemplateListener
        arguments:
            - "@ezpublish.config.resolver"
            - "@ezpublish.config.dynamic_setting.parser"
            - "@ezpublish.api.repository"
            - "@ez_core_extra.view.expression_language"

        tags:
            - { name: kernel.event_subscriber }

    ez_core_extra.twig.globals_extension:
        public: false
        class: Lolautruche\EzCoreExtraBundle\Templating\Twig\TwigGlobalsExtension
        calls:
            - [setContextAwareGlobals, ["$twig_globals;ez_core_extra$"]]
        tags:
            - { name: twig.extension }

    ez_core_extra.security.simplified_core_voter:
        public: false
        class: Lolautruche\EzCoreExtraBundle\Security\Voter\SimplifiedCoreVoter
        arguments:
            - "@ezpublish.security.voter.core"
            - "@ezpublish.security.voter.value_object"
        tags:
            - { name: "security.voter" }

    ez_core_extra.view.expression_language:
        class: Lolautruche\EzCoreExtraBundle\View\ExpressionLanguage

    ez_core_extra.security.email_user_provider:
        class: Lolautruche\EzCoreExtraBundle\Security\UserProvider
        decorates: ezpublish.security.user_provider
        arguments:
            - '@ez_core_extra.security.email_user_provider.inner'
            - '@ezpublish.api.service.user'
        calls:
            - ['setConfigResolver', ['@ezpublish.config.resolver']]
