name: Tests

on:
  push:
    branches:
      - 'master'
  pull_request: ~

jobs:
  tests:
    name: ${{ matrix.php }} / ${{ matrix.symfony }}
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        php: ['8.3']
        symfony: ['~7.3.0']
        deps: ['normal']

    steps:
      - uses: actions/checkout@v2
      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          coverage: none

      - run: composer --version
      - run: composer validate --strict

      # Install Flex as a global dependency to enable usage of extra.symfony.require
      # while keeping Flex recipes from applying
      - run: composer global config --no-plugins allow-plugins.symfony/flex true
      - run: composer global require --no-scripts symfony/flex

      - run: composer config extra.symfony.require ${{ matrix.symfony }}

      -
        run: composer update --prefer-dist
        if: ${{ matrix.deps != 'low' }}

      -
        run: composer update --prefer-dist --prefer-lowest --prefer-stable
        if: ${{ matrix.deps == 'low' }}

      - run: vendor/bin/phpunit --colors=always
